{% extends "layout.html" %}

{% block content %}
<div class="container text-center bg-white p-5 shadow-lg rounded border border-light mt-5 mb-5" style="max-width: 600px; margin: auto; height: 500px; display: flex; flex-direction: column; justify-content: space-between;">
    <h1 class="display-4 mb-4 text-primary">Hello, world!</h1>
    <p class="lead mb-4 text-muted">This is a simple hero unit, a simple component for calling extra attention to featured content or information.</p>
    <p class="mb-4 text-secondary">It uses utility classes for typography and spacing to space content out within the larger container.</p>
  
    <div class="btn-group mb-4" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success rounded-pill px-4 py-2">Sí</button>
        <button type="button" class="btn btn-danger rounded-pill px-4 py-2">No</button>
    </div>
</div>
{% endblock %}